.hero{
    background-image: url('https://64.media.tumblr.com/2f837d71cba5cbd591ff7dc980dbe483/tumblr_oubkyrpOAD1qeyvpto1_500.gifv');
   /* box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.068);

   Basic background styles 
  background: var(--image-url) center center;
  
  background-repeat: repeat;*/
  background-size: cover;
  background-position: center;
}